src/main/mule/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7d44d20a-52fb-4a8e-b360-35145ade33c4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newFlow" doc:id="8326e6ce-4470-4f81-9d4a-7ca8e23e8bd3" >
		<http:listener doc:name="Listener" doc:id="3279ba18-11ca-4c9b-aa18-dfa75af477f5" config-ref="HTTP_Listener_config" path="/new"/>
		<ee:transform doc:name="Transform Message" doc:id="3f210b73-9872-4396-89c5-69a8038b7bc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Service:"New",
	Status:"UP",
	DeployedVia:"Jenkins Pipeline"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="12795c3f-d33a-4e35-80d5-cccd1a33e881" message="#[payload]"/>
	</flow>
</mule>
